/* bg color #121212
    accent color #526d82
    title and texts #9DB2BF
    subtitle #DDE6ED
*/
body {
	background-color: #27374d;
}
* {
	box-sizing: border-box !important;
	padding: 0;
	margin: 0;
	color: #dde6ed;
	font-family: "Poppins", sans-serif;
}
input {
	color: white !important;
}
a {
	text-decoration: none;
}

/* Common */
.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 40px;
}
@media only screen and (max-width: 576px) {
	.container {
		padding: 10px;
	}
}
.container-fluid {
	width: 100%;
	padding: 20px;
}
.bg-light {
	background-color: hsl(215, 33%, 19%);
}
.subtitle {
	color: #9db2bf;
}
.btn {
	padding: 10px 35px;
	outline: 0;
	font-size: 16px;
	font-weight: 600;
	border-radius: 8px;
	cursor: pointer;
}
.btn-ghost {
	background-color: transparent;
	color: #dde6ed;
	border: 3px solid #526d82;
}
.btn-ghost:hover {
	background-color: #526d82;
	color: #dde6ed;
	border: 3px solid #526d82;
	transition: background-color 200ms ease, color 200ms ease;
}
.btn-primary {
	background-color: #526d82;
	color: #dde6ed;
	border: 0;
}
.btn-primary:hover {
	background-color: #dde6ed;
	color: #526d82;
	transition: background-color 200ms ease, color 200ms ease;
}
.active {
	background-color: #526d82;
	color: #dde6ed;
	border: 0;
}
.active:hover {
	background-color: #526d82;
	color: #dde6ed;
	border: 0;
}

/* Nav */
.nav-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
}
nav {
	max-width: 1280px;
	margin: 0 auto;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
}
@media only screen and (max-width: 576px) {
	nav {
		flex-wrap: wrap;
	}
}
.logo {
	display: flex;
	align-items: center;
	justify-content: center;
}
@media only screen and (max-width: 576px) {
	.logo {
		order: 1;
		flex-direction: column;
		width: 100%;
	}
	.cta {
		width: 50%;
		order: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 15px;
	}
}
.logo-text {
	display: inline-block;
	font-size: 24px;
	font-weight: 700;
	margin-left: 20px;
}
@media only screen and (max-width: 576px) {
	.logo-text {
		margin-left: 0;
	}
}
.donation-money {
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: 600;
	user-select: none;
}
@media only screen and (max-width: 576px) {
	.donation-money {
		order: 3;
		justify-content: center;
		width: 50%;
		margin-top: 15px;
	}
}
#money {
	margin: 0 10px;
}
.buttons {
	margin: 30px auto 10px auto;
	width: 30%;
	display: flex;
	justify-content: space-between;
}
.buttons .btn {
	width: 49%;
}
@media only screen and (max-width: 576px) {
	.buttons {
		width: 100%;
		margin: 10px auto 0 auto;
	}
	.buttons .btn {
	}
}

section.container {
	margin-top: 150px;
}
@media only screen and (max-width: 576px) {
	section.container {
		margin-top: 280px;
	}
}

/* Donation */
#donation .card {
	display: flex;
	border: 1px solid #526d8260;
	padding: 20px;
	border-radius: 15px;
}
@media only screen and (max-width: 576px) {
	#donation .card {
		flex-direction: column;
	}
}

#donation .card .card-body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-left: 25px;
}
#donation .card + .card,
#history .card + .card {
	margin-top: 30px;
}
#donation .card .card-body .card-body__money {
	display: inline-flex;
	width: auto;
	justify-content: flex-start;
	align-items: center;
	padding: 12px 20px;
	border-radius: 10px;
}
@media only screen and (max-width: 576px) {
	#donation .card .card-body {
		margin-left: 0;
	}
	#donation .card .card-body .card-body__money {
		margin-top: 20px;
	}
}
#donation .card .card-body > * + * {
	margin-top: 15px;
}
#donation .card .card-body .card-body__money span:nth-child(2) {
	display: inline-block;
	margin: 0 8px;
}
#donation .card .card-body input {
	border: 0;
	border-radius: 8px;
	outline: 0;
	width: 100%;
	padding: 10px 20px;
	color: black;
	background-color: hsl(215, 33%, 19%);
	border: 1px solid #526d8260;
}
#donation .card .card-body button {
	width: 100%;
}

/* History */
#history {
	display: none;
	flex-direction: column;
}
#history .card {
	border: 1px solid #526d8260;
	padding: 20px;
	border-radius: 15px;
}
#history .card span {
	font-size: 20px;
	font-weight: 600;
}
#history .card span i {
	font-weight: 700;
	color: #9db2bf;
	font-size: 24px;
}

/* Modal */

.modal {
	user-select: none;
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color: #27374dcc;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 100;
}
.modal .modal-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
	padding: 50px;
	background-color: #9db2bf;
	border-radius: 15px;
}
@media only screen and (max-width: 576px) {
	.modal .modal-body {
		width: 80%;
	}
}
.modal .modal-body h2,
.modal .modal-body b {
	color: #27374d;
}

.modal .modal-body p {
	margin-bottom: 20px;
	color: #27374d;
}
